[Unit]
Description=A2DP Playback
After=bluealsa.service syslog.service
Requires=bluealsa.service

[Service]
ExecStartPre=/bin/sh -c '/bin/sleep 10; amixer -D {{alsa_airplay.mixer_device}} set {{alsa_airplay.mixer_name}} {{alsa_airplay.mixer_volume_pct}}%'
ExecStart=/usr/bin/bluealsa-aplay --profile-a2dp 00:00:00:00:00:00 -d {{alsa_airplay.device}}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=A2DP-Playback
User=pi
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
