general =
{
    name = "Air%H";
};

alsa =
{
    output_device = "{{alsa_airplay.device}}";
    mixer_control_name = "{{alsa_airplay.mixer_name}}";
    mixer_device = "{{alsa_airplay.mixer_device}}";
};

diagnostics =
{
};
