[Unit]
Description=Lightlog service
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 20
ExecStart=/usr/local/bin/lightlog --store /var/tmp/lightlog --host 0.0.0.0 --dump-every 180 --after-dump-cmd "/usr/lib/python3/dist-packages/lightlog_transfer.sh put {store_prefix} {fetch_shards}" --before-start-cmd "/usr/lib/python3/dist-packages/lightlog_transfer.sh get {store_prefix} {fetch_shards}"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lightlog_service
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
